.sport-card img {
    max-width: 400px;
    width: 100%;
}

.sport-card {
    max-width: 350px;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    position: relative;
}

.badge{
padding:5px 10px;
border-radius:5px;
color:white;
font-size:12px;
}

.green{
background:green;
}

.red{
background:red;
}

.yellow{
background:orange;
}

.gray{
background:gray;
}

.dicount-block {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: rgb(0, 149, 255);
    padding: .5em;
    border-bottom-left-radius: 5px;
    font-weight: bold;
    font-family: 'Arial';
    font-size: 1em;
    color: white
}

.buy-btn{
background: green;
color: white;
padding: 10px 18px;
border: none;
border-radius: 6px;
}

.disabled-btn{
background: orange;
color: white;
padding: 10px 18px;
border: none;
border-radius: 6px;
opacity: 0.7;
}