<div 
  class="sport-card"
  [appHighlightColor]="'green'"
>
  @if(activity.is_discount) {
    <div class="dicount-block">
      DISCOUNT
    </div>
  }

  <img [src]="activity.imageUrl" [alt]="activity.title">

  <h2>{{ activity.title }}</h2>

  <p>
    <strong>Type:</strong> {{ activity.type }}
  </p>

  <p>
    <strong>Difficulty: </strong>


        <span [class]="'badge ' + (activity.difficulty | statusColor)">
          {{activity.difficulty}}
        </span>

  </p>

  <p>
    <strong>Price:</strong>
    {{ activity.price | currency:'USD' }}
  </p>

  <p>
    <strong>Rating:</strong>
    {{ activity.rating }}
  </p>

  <p>
    <strong>Start date:</strong>
    {{ activity.startDate | date:'dd.MM.yyyy' }}
  </p>

  @if (isOngoing) {

    <button [routerLink]="['/products/' + activity.id]" class="buy-btn">
      MORE
    </button>

  } @else {

    <button class="disabled-btn" disabled>
      Coming soon
    </button>

  }

  <div class="tags">
    @for (tag of activity?.tags; track $index) {
        <span>
          {{ tag }}
        </span>
    }
  </div>

  <div class="desc">
    {{activity.description | truncate}}
  </div>

</div>